/* Add your CSS Below */
table{
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    border-radius: 35px;
    padding: 25px;

    }
tr th {
    background-color: green;
    color: white;
}
tr:nth-child(1){
    background-color: lightgrey;
}
tr:nth-child(3){
    background-color: lightgrey;
}
tr:nth-child(5){
    background-color: lightgrey
}
